[submodule "DevEnvConf/vim/bundle/ack.vim"]
	path = DevEnvConf/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "DevEnvConf/vim/bundle/bufexplorer"]
	path = DevEnvConf/vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "DevEnvConf/vim/bundle/ctrlp.vim"]
	path = DevEnvConf/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "DevEnvConf/vim/bundle/DoxygenToolkit.vim"]
	path = DevEnvConf/vim/bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "DevEnvConf/vim/bundle/incsearch-easymotion.vim"]
	path = DevEnvConf/vim/bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule "DevEnvConf/vim/bundle/incsearch-fuzzy.vim"]
	path = DevEnvConf/vim/bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim.git
[submodule "DevEnvConf/vim/bundle/incsearch.vim"]
	path = DevEnvConf/vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "DevEnvConf/vim/bundle/indentLine"]
	path = DevEnvConf/vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "DevEnvConf/vim/bundle/molokai"]
	path = DevEnvConf/vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "DevEnvConf/vim/bundle/neocomplcache.vim"]
	path = DevEnvConf/vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "DevEnvConf/vim/bundle/nerdcommenter"]
	path = DevEnvConf/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "DevEnvConf/vim/bundle/PHP-Indenting-for-VIm"]
	path = DevEnvConf/vim/bundle/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "DevEnvConf/vim/bundle/project.tar.gz"]
	path = DevEnvConf/vim/bundle/project.tar.gz
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "DevEnvConf/vim/bundle/Pydiction"]
	path = DevEnvConf/vim/bundle/Pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "DevEnvConf/vim/bundle/supertab"]
	path = DevEnvConf/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "DevEnvConf/vim/bundle/syntastic"]
	path = DevEnvConf/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "DevEnvConf/vim/bundle/tabular"]
	path = DevEnvConf/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "DevEnvConf/vim/bundle/tagbar"]
	path = DevEnvConf/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "DevEnvConf/vim/bundle/tagbar-phpctags.vim"]
	path = DevEnvConf/vim/bundle/tagbar-phpctags.vim
	url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "DevEnvConf/vim/bundle/vim-airline"]
	path = DevEnvConf/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "DevEnvConf/vim/bundle/vim-easymotion"]
	path = DevEnvConf/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "DevEnvConf/vim/bundle/vim-expand-region"]
	path = DevEnvConf/vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "DevEnvConf/vim/bundle/vim-fugitive"]
	path = DevEnvConf/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "DevEnvConf/vim/bundle/vim-trailing-whitespace"]
	path = DevEnvConf/vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "DevEnvConf/vim/bundle/vundle"]
	path = DevEnvConf/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "DevEnvConf/bashmarks"]
	path = DevEnvConf/bashmarks
	url = https://github.com/huyng/bashmarks.git
