[submodule "DevEnvConf/vim/bundle/vundle"]
	path = DevEnvConf/vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "DevEnvConf/bashmarks"]
	path = DevEnvConf/bashmarks
	url = https://github.com/huyng/bashmarks.git
